@model Book

<div class="card m-1 p-1">
    <h3>@Model.Title</h3>
    <ul>
        <li>Author: @Model.Author</li>
        <li>Publisher: @Model.Publisher</li>
        <li>ISBN: @Model.ISBN</li>
        <li>Classification: @Model.Classification</li>
        <li>Category: @Model.Category</li>
        <li>Page Count: @Model.PageCount</li>
        <li>Price: @Model.Price</li>
    </ul>
</div>